html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

#pop {
    position: relative;
    top: -400px;
    left: 20px;
    width: 400px;
    height: 150px;
    border-radius: 50%; 
    z-index: 1;
    transform: rotate(-50deg);
    animation: drop 2.5s ease forwards;
}

.menu {
    position: absolute;
    right: 30px;
    top: 8px;
    z-index: 1;
    opacity: 0.3;

}

.menu-icon {
    width: 55px;
    height: 55px;
    z-index: 1;
}

.menu-links {
    display: none;
    /*background: yellow;*/
    height: 55px;
    position: absolute;
    right: 100px;
    top: 20px;
    z-index: 1;
}

.links {
    padding-right: 60px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.menu-links:hover a {
    background: white;
}

.menu:hover + .menu-links {
    display: block;
    animation: slidesIn 2.5s ease forwards;

}

.menu:hover{
    opacity: 1;
    transition: 1s;
}

h1 {
    position: absolute;
    z-index: 1;
}

h1:nth-child(1) {
    margin: 0 auto;
    left: 20px;
    font-size: 60px;
}

h1:nth-child(2) {
    top: 35px;
    left: 20px;
    font-size: 60px; 
}

.topTitle:nth-child(1) {
    color: blue;
}

.topTitle:nth-child(2) {
    color: yellow;
}

.topTitle:nth-child(3) {
    color: red;
}

.topTitle:nth-child(4) {
    color: green;
}

.topTitle:nth-child(5) {
    color: yellow;   
}

.btmTitle:nth-child(1) {
    color: red;
}

.btmTitle:nth-child(2) {
    color: green;
}

.btmTitle:nth-child(3) {
    color: yellow;
}

.btmTitle:nth-child(4) {
    color: blue;
}

.btmTitle:nth-child(5) {
    color: green;
}


.grass, .sky, .road {
    position: relative;
}

.sky {
    height: 40%;
    background: skyblue;
    width: 100%;
}

.grass {
    height: 30%;
    background: seagreen;
}

.road {
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}

.lines {
    box-sizing: border-box;
    border: 5px dashed white;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%
}

.cloud {
    width: 320px;
    height: 200px;
    position: absolute;
    top: 0;
    animation: wind 90s linear infinite reverse;
}

.cloud1 {
    width: 220px;
    height: 100px;
    position: absolute;
    top: 160px;
    opacity: 0.5;
    animation: wind 60s linear infinite reverse;

}

/*// ELEMENTS TO ANIMATE //*/

.mario {
    width: 160px;
    height: 130px;
    position: absolute;
    top: -40px;
    left: 0px;

    animation:  drive 3s both infinite cubic-bezier(0, .77, 1, .28),
                jump 0.3s 1.2s ease;
    
}

.toad {
    width: 180px;
    height: 150px;
    position: absolute;
    top: 70px;
    left: 0px;
    animation-name: drive;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.topTitle, .btmTitle {
    font-family: 'Press Start 2P', cursive;
    animation: glow 1s ease-in-out infinite alternate;
}



/*// KEYFRAMES //*/
@keyframes drive {
    from {left: -100px}
    to { transform: translateX(1600px)}
}

@keyframes wind {
    from {left: -300px}
    to {left: 100%}  
}

@keyframes jump {
    0% {top: -40px}
    50% {top: -100px}
    100% {top: -40px}
}

@keyframes glow {
    from {text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;}
    to {text-shadow: 0 0 20px #fff, 0 0 30px #9c9b9b, 0 0 40px #9c9b9b, 0 0 50px #9c9b9b, 0 0 60px #9c9b9b, 0 0 70px #9c9b9b, 0 0 80px #9c9b9b;}
}

@keyframes drop {
    0% {opacity: 0}
    50% {transform: translateY(500px)}
    100% {transform: translateY(450px); opacity: 1;}
}

@keyframes slidesIn {
    from {top: -450px}
    to {top: 20px}
}



.circle {
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    background: pink;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s ease-in; /*will change to salmon slower, meaning will change color and transform over the course of 1s
    however if you want to do it on seperate parts of the hover --
    transition: background 1s, transform 0.3s;
    */
}

.circle:hover {
    background: salmon;
    transform: rotate(360deg)
}
